/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.newsPic {
  height: 20rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.divider {
  display: flex;
  flex-direction: row;
}
.divider div {
  width: 50%;
}
.divider div ul li {
  margin-bottom: 5px;
}
.divider div ul li a {
  text-decoration: none;
  color: #374011;
  font-size: 12pt;
  font-weight: bold;
}
.divider div ul li p {
  font-size: 8pt;
  padding-left: 10px;
}

.button-news {
  float: right;
}

#news {
  margin-top: 100px;
}
#news h2 {
  text-align: right;
  padding-right: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
  #news {
    margin-top: 50px;
  }
  #news h2 {
    text-align: left;
    padding-left: 20px;
    margin-bottom: 20px;
  }

  .divider {
    display: flex;
    flex-direction: row;
  }
  .divider div {
    width: 100%;
  }
  .divider div ul li {
    margin-bottom: 5px;
  }
  .divider div ul li a {
    text-decoration: none;
    color: #374011;
    font-size: 12pt;
    font-weight: bold;
  }
  .divider div ul li p {
    font-size: 8pt;
    padding-left: 10px;
  }
}
.erfolgsPic {
  height: 40rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

#erfolge {
  margin-top: 100px;
}
#erfolge h2 {
  padding-left: 20px;
  margin-bottom: 20px;
}
#erfolge .container {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
#erfolge .card {
  display: flex;
  flex-direction: column;
  height: 20rem;
  width: 14rem;
  text-align: center;
}
#erfolge .div-pic {
  width: 100%;
  height: 15rem;
}
#erfolge .cardPic {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#erfolge .div-erfindername {
  background-color: #5c7309;
  color: #FFF;
  height: 2rem;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (min-width: 800px) {
  .card {
    margin-left: 50px;
  }
}
@media screen and (max-width: 800px) {
  #erfolge {
    margin-top: 50px;
  }

  .card {
    margin-left: 0px;
  }

  .container {
    padding-left: 0px;
  }

  .divider {
    display: flex;
    flex-direction: row;
  }
  .divider div {
    width: 100%;
  }
}
.mePic {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.div-michtext {
  background-color: #5c7309;
  color: #FFF;
  padding: 20px 15px;
  font-size: 13pt;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
}
.div-michtext p {
  width: 80%;
  font-size: 23pt;
  text-align: center;
}

.button-news {
  float: right;
}

#me {
  margin-top: 100px;
}
#me h2 {
  text-align: right;
  padding-right: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
  #me {
    margin-top: 50px;
  }
  #me h2 {
    text-align: left;
    padding-left: 20px;
    margin-bottom: 20px;
  }

  .div-michtext {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
footer {
  background-color: #B6BBCA;
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.logos {
  width: 2rem;
  height: 2rem;
  margin-right: 20px;
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto-sans-v21-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/noto-sans-v21-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans-v21-latin-regular.woff2") format("woff2"), url("../fonts/noto-sans-v21-latin-regular.woff") format("woff"), url("../fonts/noto-sans-v21-latin-regular.ttf") format("truetype"), url("../fonts/noto-sans-v21-latin-regular.svg#NotoSans") format("svg");
  /* Legacy iOS */
}
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Slabo 13px";
  line-height: 1.5;
}

html {
  font-size: 80%;
}

#button {
  display: none;
  color: #5c7309;
  padding-top: 20px;
}

header {
  background-image: url(./images/wave.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 35rem;
}
header nav {
  padding-top: 20px;
  height: 50px;
}
header nav ul {
  padding: 0;
  margin: 0;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8pt;
}
header nav ul li {
  margin-right: 20px;
  text-decoration: none;
  background-color: #5c7309;
  color: #FFF;
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 8pt;
  max-height: 2rem;
}

.button-like {
  text-decoration: none;
  background-color: #5c7309;
  color: #FFF;
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 8pt;
  max-height: 2rem;
}

.herotext {
  position: absolute;
  right: 20px;
  top: 150px;
}
.herotext h2 {
  color: #FFF;
  font-size: 18pt;
  margin-bottom: 10px;
  text-align: right;
}

.div-padding {
  padding-left: 100px;
  padding-right: 20px;
}

@media screen and (min-width: 800px) {
  .headline {
    font-size: 18pt;
  }
}
.headline {
  color: #374011;
}

/*-- Mobile Design --*/
@media screen and (max-width: 800px) {
  header {
    background-image: none;
    background-color: #B6BBCA;
    height: 5rem;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: end;
  }
  header nav {
    display: none;
    z-index: 10;
    position: absolute;
    height: 200px;
    margin-top: 50px;
    width: 100%;
    background-color: #B6BBCA;
    transition: all 1s;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  header nav ul {
    flex-direction: column;
  }
  header nav ul li {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  header a {
    cursor: pointer;
    padding: 12px 0;
  }
  header a span {
    position: relative;
    display: block;
    width: 20px;
    height: 4px;
    background: #5c7309;
    transition: all 0.2s ease-in-out;
  }
  header a span:before, header a span:after {
    position: absolute;
    background: #5c7309;
    content: "";
    width: 20px;
    height: 4px;
    transition: all 0.2s ease-in-out;
  }
  header a span:before {
    top: -8px;
  }
  header a span:after {
    top: 8px;
  }
  header a.active span {
    background: transparent;
  }
  header a.active span:before {
    transform: rotate(45deg) translate(5px, 6px);
  }
  header a.active span:after {
    transform: rotate(-45deg) translate(5px, -6px);
  }

  #button {
    display: block;
  }

  .headline {
    font-size: 13pt;
  }

  .noShow {
    display: none;
  }

  .div-padding {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
