$fontweight1: 33pt;
$fontweight2: 24pt;
$fontweight3: 13pt;
$fontweight4: 12pt;
$fontweight5: 8pt;
$fontweightWave: 18pt;

$primarycolor: #5c7309;
$headline: #374011;
$fontBox: #FFF;
$fontText: #818181;
$footer: #B6BBCA;

$distance: 1.5em;
$distancesmall: 0.8em;
$distance05: 0.5em;
$borderradius: 0.4em;